vendor/*
*.log
.DS_Store
.idea/
yarn.lock
node_modules/
.env.local
.env.test
.env.production
.env
.babelrc
.gitingnore
.env-example
.htaccess
composer.json
composer.lock
package-lock.json
package.json
.editorconfig
phpunit.xml.dist
README.md
LICENSE
.env.example
artisan
public/index.php
public/mix-manifest.json
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
tests/Unit/ExampleTest.php
tests/Feature/ExampleTest.php
gulpfile.js
webpack.mix.js
webpack.admin.mix.js
bootstrap/*
database/*
public/*
ssgit/*
storage/*
tests/*
.gitingnore